body {
    background-image: url(../imagens/camera.png);
}

header .botaovoltar a {
    display: inline-block;
    font-weight: bold;
    background-color: rgb(204, 200, 200);
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0px 0px 6px rgb(29, 27, 27);
    border-radius: 5px;
}

.titulo {
    text-align: center;
    color: rgb(176, 177, 179);
    font-weight: bold;
    padding: 40px;
}

.texto {
    text-align: justify;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    color: rgb(209, 205, 205);
    padding: 10px;
    transform: translate(-50%, -50%);
    text-indent: 10px;
}